img{width: 100%;}
span{display : block;}
body{font-family:sans-serif;}
h1{background-color: mistyrose;}
h2{background-color: mistyrose;}
h3{background-color: mistyrose;}
li{background-color: lightcyan;}
