.center{text-align: center;}
.middle{
  display: flex;
  justify-content: center;
  align-items: center;
}

#result{font-weight: bold; font-size: 2.5em; text-align: center;}
#how{font-weight: bold; font-size: 1.5em; text-align: center;}

.red{color:red}
.blue{color:blue}

@font-face {
  font-family: "tanugo";
  src: url("../common/tanugo.woff") format("woff");
}

body{font-family: "tanugo";}

@media screen and (orientation: landscape) {
   /* 横向きの場合のスタイル */
   .image{width:50vw; height: :50vw; border:solid 1px;}
   .select{width: 15vw; height: :15vw; border:solid 1px; margin-left: 5px; margin-right: 5px;}
}

@media screen and (orientation: portrait) {
   /* 縦向きの場合のスタイル */
   .image{width: 90vw; height: :90vw; border:solid 1px;}
   .select{width: 30vw; height: :30vw; border:solid 1px; margin-left: 5px; margin-right: 5px;}
}
