.center{
  text-align: center;
}
.middle{
  display: flex;
  justify-content: center;
  align-items: center;
}
#result{font-weight: bold; font-size: 2em; text-align: center;}
.red{color:red}
.blue{color:blue}

.image{width: 90vw; border:solid 1px;}
.select{width: 30vw; border:solid 1px;}
