@charset "UTF-8";

.icon{
    width:1em;
  	height:1em;
}

caption{
  font-family:Impact, sans-serif;
  font-size:3em;
  /*font-weight: bold;*/
  background-color: pink;
  /*background-image: url("..\..\common\PT_rarity_ER.png");*/
}

.cap{
    width = 100%;
}

.table{
    width: 100%;
}

td{
    width:25%;
    border:1px solid #a9a9a9;
}

img{
  width:100%;
}

.have{
  background-color: gray;
}
