body{
  background-color: lightyellow;
  text-align: center;
}

div{  padding:1%;}

table{
  border: 3px solid gray;
  border-collapse: collapse;
  background-color: white;
}

td{  border: 1px solid gray;}

#main{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

img{width:100%;}

.have{background-color: #999;}


@media screen and (min-width: 960px){
  #main div{width:48%;}
}
@media screen and (max-width: 960px){
  #main div{width: 90%;}
  .item caption{font-size:16px;}
}

.h1{font-size: 32px;}
.h2{font-size: 24px;}
.bold{font-weight: bold;}
.item:active{background-color: #ccc;}
