@charset "UTF-8";
:root {
  --bgcolor: mistyrose;
}

body{
  background-color:var(--bgcolor);
  font-family:sans-serif;
  text-align: center;
}

img{width:100%;}

caption{
  font-family:Impact;
  font-weight: bold;
  font-size:3em;
}

table{
  background-color: white;
  border-collapse: collapse;
}

.three{width:33%;}
td:not([class="three"]){width:25%;}


.icon{width:1em;height:1em;}

.item:active{background-color: #c0c0c0;}

.item{
  text-align: center;
  border:2px solid #f33;
  font-size: 1.5em;
  /*font-weight: bold;*/
}


.font1{
  font-size: 2em;
  font-weight: bold;
}

.font2{
  font-size: 1.5em;
  font-weight: bold;
}

.font3{
  font-size: 1em;
  font-weight: bold;
}

.inline{
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.item1{flex-basis: 50%; /* flexアイテムの幅を割合で指定 */}
.item2{flex-basis: 25%; /* flexアイテムの幅を割合で指定 */}
.item3{flex-basis: 10%; /* flexアイテムの幅を割合で指定 */}

.red{color:red}

.IR{background-color: pink;}
.WR{background-color: pink;}
.gray{filter: grayscale(100%);}
.ER{background-color: gold;}
.FR{background-color: lightgray;}
.PR{background-color: lightblue;}
.SR{background-color: gold;}
.R{background-color: lightgray;}
.N{background-color: white;}
.ITEM{background-color: palegreen;}

.EVENT{background-color: pink;}
.HR{background-color: palegreen;}

.empty{background-color: var(--bgcolor)}
.have{background-color: gray;}
/*.nohave{background-color: white;}
