@charset "UTF-8";
:root {
  --bgcolor: mistyrose;
}

@font-face {
  font-family: "stick";
  font-style: normal;
  font-weight: 400;
  src: url("font/stick.woff") format("woff");
  font-display: swap;
}

/* ??px以上で2段表示 */
@media screen and (max-width: 600px){
  #main div{width:99%;}
}

@media screen and (min-width: 600px){
  #main div{width:49%;}
}

@media screen and (min-width: 1280px){
  #main div{width:24%;}
}


/* ??px以上で2段表示 */
/*
@media screen and (min-width: 600px) and (max-width: 1280px){
#main div{width:48%;}
}
*/




#main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

#main div{margin:0.5%;}
table{margin:2%;}


table{
  border-collapse: collapse;
}

body{
  background-color:var(--bgcolor);
  font-family:sans-serif;
  text-align: center;
}

img{width:100%;}

caption{
  font-family:Impact;
  font-weight: bold;
  font-size:3em;

  border:2px solid #999;
}


.three{width:33%;}
td:not([class="three"]){width:25%;}
.item:not(.have){  background-color: white;}

.icon{width:1em;height:1em;}

.item:active{background-color: #c0c0c0;}

.item{
  border:1px solid #f33;
  /*font-weight: bold;*/
}

.stick{
  font-family: "stick",sans-serif;
  font-weight: 400;
}

.font1{
  font-size: 2em;
  font-weight: bold;
}

.font2{
  font-size: 1.5em;
  font-weight: bold;
}

.font3{
  font-size: 1em;
  font-weight: bold;
}

.inline{
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.item1{flex-basis: 50%; /* flexアイテムの幅を割合で指定 */}
.item2{flex-basis: 25%; /* flexアイテムの幅を割合で指定 */}
.item3{flex-basis: 10%; /* flexアイテムの幅を割合で指定 */}

.red{color:red}


.IR{
  background: linear-gradient(to right,#f99,#f9c,#f9f,#c9f,#99f,#9cf,#9ff,#9fc,#9f9,#cf9,#ff9,#fc9);
}

.IR caption{
  color:white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: gray;
  -webkit-text-fill-color: white;
}

.ER caption{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: gray;
  -webkit-text-fill-color: silver;
}

.WR{
  background: linear-gradient(to right,
  black,gold,black
  );}
.gray{filter: grayscale(100%);}
.ER{
  background: linear-gradient(to right,
  pink,#f36,pink
  );}
.FR{
  background: linear-gradient(to right,
  blue 10%,silver 50%,blue
  );}
.PR{background-color: lightblue;}
.SR{background-color: gold;}
.R{background-color: lightgray;}
.N{background-color: white;}
.ITEM{background-color: palegreen;}

.EVENT{background-color: pink;}
.HR{background-color: palegreen;}

/*.empty{background-color: var(--bgcolor)}*/
.have{background-color: gray;}
/*.nohave{background-color: white;}
